<div class="home">
  <div class="nav-container">
    <div *ngIf="user.userType !== 'Admin'" class="nav-item" (click)="navigateToPage('app-my-plants')">
      <div class="nav__item-container">
        <div class="nav__item nav__item-front">
          <i class="fa-solid fa-leaf fa-icon nav__item__icon" style="font-size: 3.4em;"></i>
        </div>
        <div class="nav__item__text">My plants</div>
        <div class="nav__item nav__item-back nav__item-back_plants"></div>
      </div>
    </div>

    <div class="nav-item" (click)="navigateToPage('app-plants')">
      <div class="nav__item-container">
        <div class="nav__item nav__item-front">
          <i class="fa-solid fa-book-open fa-icon nav__item__icon"></i>
        </div>
        <div class="nav__item__text">Catalog</div>
        <div class="nav__item nav__item-back nav__item-back_catalog"></div>
      </div>
    </div>

    <div *ngIf="user.userType === 'Admin'" class="nav-item" (click)="navigateToPage('app-managment')">
      <div class="nav__item-container">
        <div class="nav__item nav__item-front">
          <i class="fa-solid fa-briefcase fa-icon nav__item__icon"></i>
        </div>
        <div class="nav__item__text">Managment</div>
        <div class="nav__item nav__item-back nav__item-back_managment"></div>
      </div>
    </div>

    <div *ngIf="user.userType === 'Admin'" class="nav-item" (click)="navigateToPage('app-managment')">
      <div class="nav__item-container">
        <div class="nav__item nav__item-front">
          <i class="fa-solid fa-window-restore fa-icon nav__item__icon"></i>
        </div>
        <div class="nav__item__text">Requests</div>
        <div class="nav__item nav__item-back nav__item-back_requests"></div>
      </div>
    </div>

    <div *ngIf="user.userType !== 'Admin'" class="nav-item" (click)="navigateToPage('app-user-profile')">
      <div class="nav__item-container">
        <div class="nav__item nav__item-front">
          <i class="fa-solid fa-user fa-icon nav__item__icon"></i>
        </div>
        <div class="nav__item__text">Profile</div>
        <div class="nav__item nav__item-back nav__item-back_profile"></div>
      </div>
    </div>
  </div>
</div>