<div class="home">
  <div class="nav-container">
    <div *ngIf="user.userType !== 'Admin'">
      <div class="nav-item nav-item_user-catalog" (click)="navigateToPage('app-plants')">
        <i class="fa-solid fa-leaf fa-icon"></i>
      </div>
      <span class="nav-item__text">
        My plants
      </span>
    </div>
    <div>
      <div class="nav-item nav-item_catalog" (click)="navigateToPage('app-plants')">
        <i class="fa-solid fa-seedling fa-icon"></i>
      </div>
      <span class="nav-item__text">
        Catalog
      </span>
    </div>
    <div *ngIf="user.userType === 'Admin'">
      <div class="nav-item nav-item_users" (click)="navigateToPage('app-managment')">
        <i class="fa-solid fa-users fa-icon"></i>
      </div>
      <span class="nav-item__text">
        Managment
      </span>
    </div>
    <div *ngIf="user.userType === 'Admin'">
      <div class="nav-item nav-item_requests">
        <i class="fa-solid fa-book fa-icon"></i>
      </div>
      <span class="nav-item__text">
        Requests
      </span>
    </div>
    <div *ngIf="user.userType !== 'Admin'">
      <div class="nav-item nav-item_user">
        <i class="fa-solid fa-user fa-icon"></i>
      </div>
      <span class="nav-item__text">
        Profile
      </span>
    </div>
  </div>
</div>