<div class="managment">
  <div class="inbox">
    <div class="users-table__row users-table__header">
      <div>
        Requests
      </div>
    </div>
  </div>
  <div class="users-table">
    <div class="users-table__row users-table__header">
      <div *ngFor="let fieldLabel of objectValues(usersTableCellsConfig)">
        {{ fieldLabel }}
      </div>
    </div>
    <div class="users-table__body">
      <ng-container *ngFor="let user of users">
        <div
          *ngIf="user.id !== currentUser.id"
          class="users-table__row"
        >
          <div *ngFor="let field of objectKeys(usersTableCellsConfig)">
            <span
              [ngClass]="{
                'users-table__row_role_a': field === 'role' && user.role === 'Admin',
                'users-table__row_role_m': field === 'role' && user.role === 'Content Manager',
                'users-table__row_role_u': field === 'role' && user.role === 'User',
              }"
            >
              {{ user[field] }}
            </span>
          </div>
          <div>
            <button
              *ngIf="!currentUser.id"
              class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
              title="Edit"
              (click)="handleUserEdit(user)"
            >
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit_gpt"></use>
              </svg>
            </button>
            <button *ngIf="!currentUser.id" class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border" title="Delete">
              <svg class="slds-button__icon button-icon__remove" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
              </svg>
            </button>
          </div>
        </div>
        <div *ngIf="user.id === currentUser.id" class="users-table__row">
          <div *ngFor="let field of objectKeys(usersTableCellsConfig)">
            <div class="slds-form-element__control">
              <input
                *ngIf="field !== 'role'"
                id="{{ field + 'Input' }}"
                class="slds-input "
                type="text"
                [(ngModel)]="currentUser[field]"
                required
              />

              <combobox
                *ngIf="field === 'role'"
                [items]="userTypes"
                [inputId]="field + 'Input'"
                (onOptionSelect)="handleOptionSelect($event)"
              ></combobox>
            </div>
          </div>
          <div>
            <button
              class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
              title="Save"
              (click)="handleProcessUser()"
            >
              <svg class="slds-button__icon" aria-hidden="true">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
              </svg>
            </button>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="spinner__container" *ngIf="isLoading">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
</div>