.managment {
  height: 100%;
  padding: 1em 3em;
  display: flex;
  justify-content: center;
  column-gap: 3em;
}

.managment__header {
  padding: 1em;
  box-shadow: 0 0 25px 0 #d8e3f7;
  background-color: #f4f8ff;
  border-radius: 2em;
  margin-bottom: 1em;
}

.m-header__item {
  background-color: #ebf1fd;
  padding: .5em 1em;
  border-radius: 3.5em;
  box-shadow: 0 0 10px 0px #d8e3f7;
  font-weight: bold;
  color: #646465;
  cursor: pointer;
  transition: all ease .5s;
}

.m-header__item:hover {
  background-color: #e0eaff;
}

.m-header__item:active {
  background-color: #d9e5ff;
}

.managment__users {
  height: 93%;
  display: flex;
  justify-content: center;
  column-gap: 3em;
}