.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fa-pagelines {
  font-size: 4em;
  color: #37cb99;
}

.icon-container {
  width: 5em;
  height: 5em;
  background-color: #85E6C5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  margin-bottom: 1em;
  box-shadow: 0 0 20px 0px #85E6C5e8, 0 0 0 4px #85E6C545;
}

.slds-card {
  width: 350px;
}

.slds-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}