<div class="login">
  <div class="logo__container">
    <div>
      <span>YG</span>
    </div>
    <i class="fa-logo fa-brands fa-pagelines"></i>
    <i class="fa-logo fa-brands fa-pagelines"></i>
  </div>

  <article class="slds-card">
    <div class="slds-card__body slds-card__body_inner">
      <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-id-47">
          <abbr class="slds-required" title="required">* </abbr>Login</label>
        <div class="slds-form-element__control">
          <input [(ngModel)]="userEmail" type="email" id="text-input-id-47" placeholder="Login" required class="slds-input" />
        </div>
      </div>

      <div class="slds-form-element">
        <label class="slds-form-element__label" for="text-input-id-47">
          <abbr class="slds-required" title="required">* </abbr>Password</label>
        <div class="slds-form-element__control">
          <input [(ngModel)]="userPassword" type="password" id="text-input-id-47" placeholder="Password" required class="slds-input" />
        </div>
      </div>

    </div>
    <footer class="slds-card__footer">
      <button class="slds-button slds-button_brand" (click)="authUser()">Log in</button>
    </footer>
  </article>
  <div class="form__link form__link-register">
    <a (click)="handleRedirectToRegistration()">Not registered yet?</a>
  </div>
</div>