@import url('https://fonts.googleapis.com/css2?family=Nova+Round&display=swap');

.login {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo__container {
  position: relative;
  margin-bottom: 4em;
}

.logo__container > div {
  width: 6em;
  height: 6em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff3b;
  border-radius: 2em;
  border: 1px solid #ffffff4a;
  backdrop-filter: blur(5px);
}

.fa-logo {
  position: absolute;
  z-index: -1;
  font-size: 60px;
}

.logo__container i:nth-child(2) {
  transform: rotate(226deg);
  bottom: -17px;
  left: -24px;
  background: linear-gradient(to right, #36ef8a 0%, #009976 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo__container i:nth-child(3) {
  transform: rotate(380deg);
  top: -28px;
  left: 40px;
  background: linear-gradient(to right, #36ef8a 0%, #009976 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo__container > div > span {
  font-size: 2em;
  background: linear-gradient(to bottom right, #57bf74 0%, #008d6c 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-family: "Nova Round", sans-serif;
}

.slds-card {
  width: 350px;
}

.slds-card__body {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.form__link {
  display: flex;
}

.form__link-password {
  justify-content: end;
}

.form__link-register {
  margin-top: 1em;
  justify-content: center;
}