<div class="users-plants">
  <!-- <div class="slds-grid slds-wrap"> -->
    <div class="users-plants__container">
      <div *ngFor="let plant of plants; index as i">
        <article class="slds-card">
          <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
              <h2 class="slds-card__header-title">
                <span>Plant Name</span>
              </h2>
            </header>
          </div>
          <div class="slds-card__body slds-card__body_inner">
            <div class="card__container">
              <div class="plant-picture">
                picture here
              </div>
              <div>
                some description
              </div>
            </div>
          </div>
          <footer class="slds-card__footer">
            <button class="slds-button slds-button_brand">View more</button>
          </footer>
        </article>
      </div>
    </div>
  <!-- </div> -->
</div>