<section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
  <div class="slds-modal__container">
    <div class="slds-modal__header">
      <h1 class="slds-modal__title slds-hyphenate">
        {{ date | date: 'dd.MM.YYYY' }}
      </h1>
    </div>
    <div class="slds-modal__content">

      <ng-container *ngFor="let taskPlant of tasksDescription">
        <div class="slds-grid slds-grid_vertical slds-gutters slds-m-bottom_large">
          <div class="slds-col slds-m-bottom_medium">
            <div class="slds-text-heading_medium">
              {{ taskPlant.plantName }}
            </div>
          </div>

          <div *ngFor="let task of taskPlant.tasks" class="slds-col slds-m-left_small">
            <div class="slds-grid slds-grid_vertical">
              <div class="slds-form-element slds-col slds-m-bottom_x-small task_description__container">
                <button
                  class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                  (click)="handleTaskComplete(task)"
                >
                  <svg *ngIf="task.isCompleted" class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                  </svg>
                </button>
                <span class="slds-text-heading_small slds-m-left_x-small">{{ task.operationName }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="slds-modal__footer">
      <button class="slds-button slds-button_neutral" aria-label="Cancel and close" (click)="handleClose()">Cancel</button>
      <button class="slds-button slds-button_brand" (click)="handleSave()">Save</button>
    </div>
  </div>
</section>
<div class="slds-backdrop slds-backdrop_open" role="presentation"></div>