<div class="plants">
  <div class="plants__page-header">
    <div class="slds-form-element">
      <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right" >
        <svg class="slds-icon slds-input__icon slds-input__icon_right slds-icon-text-default search__icon button_bare-color" aria-hidden="true" (click)="handleSearch('Click')">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#search"></use>
        </svg>
        <input [(ngModel)]="searchQuery" type="text" placeholder="Search…" class="slds-input" (keypress)="handleSearch($event)"/>
      </div>
    </div>
    <div *ngIf="user.userType !== 'User'" class="slds-buttons__container">
      <button class="slds-button slds-button_brand" (click)="handlePlantWindow(true, 'Add', '')">Add Plant</button>
    </div>
    <div *ngIf="user.userType === 'User' && pageState === 'User'" class="slds-buttons__container">
      <button
        class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
        title="My tasks"
        (click)="handleOpenMyTasks()"
      >
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#task"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="cards__container">
    <div *ngFor="let plant of plants">
      <div class="slds-card card_small">
        <div class="slds-card__header slds-grid">
          <header class="slds-media slds-media_center slds-has-flexi-truncate">
            <div class="card__header">
              <h2 class="slds-card__header-title">
                <span>{{ plant.name }}</span>
              </h2>
              <div>
                <button
                  *ngIf="user.userType !== 'User'"
                  class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                  title="Edit"
                  (click)="handlePlantWindow(true, 'Edit', plant.id)"
                >
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                  </svg>
                </button>

                <button
                  *ngIf="user.userType !== 'User' || pageState === 'User'"
                  class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border button_icon-danger"
                  title="Delete"
                  (click)="handleRemovePlant(plant)"
                >
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                  </svg>
                </button>

                <button
                  *ngIf="user.userType === 'User' && pageState !== 'User'"
                  class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                  title="Add to My plants"
                  (click)="handleAddPlantToCatalog(plant.id)"
                >
                  <svg class="slds-button__icon" aria-hidden="true">
                    <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                  </svg>
                </button>
              </div>
            </div>
          </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
          <div class="card__body-container">
            <div class="plant-picture">
              <img *ngIf="!plant.isErrorImage" [src]="plant.imageUrl" (error)="handleImageLoadError(plant.id)">
              <i *ngIf="plant.isErrorImage" class="fa-solid fa-circle-notch plant-picture__icon"></i>
            </div>
            <div class="plant__card-description">
              {{ plant.description }}
            </div>
          </div>
        </div>
        <footer class="slds-card__footer">
          <button class="slds-button slds-button_outline-brand" (click)="handlePlantWindow(true, 'View', plant.id)">View more</button>
        </footer>
      </div>
    </div>
  </div>
  <div *ngIf="isPlantModalVisible">
    <section role="dialog" tabindex="-1" aria-modal="true" class="slds-modal slds-fade-in-open">
      <div class="slds-modal__container">
        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" (click)="handlePlantWindow(false, 'View', '')">
          <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
          </svg>
          <span class="slds-assistive-text">Cancel and close</span>
        </button>
        <div class="slds-modal__header">
          <h1 class="slds-modal__title slds-hyphenate">
            {{ plantModalState === 'View' ? currentPlantData.name : plantModalState === 'Edit' ? 'Edit ' + currentPlantData.name : 'New Plant'}}
          </h1>
        </div>
        <div class="slds-modal__content slds-p-around_medium">
          <div class="modal__content-container" *ngIf="plantModalState !== 'View'">
            <div class="file-selector__container slds-m-bottom_small">
              <div class="plant-picture">
                <img *ngIf="currentPlantData.imageUrl" [src]="currentPlantData.imageUrl">
                <i *ngIf="!currentPlantData.imageUrl" class="fa-regular fa-image plant-picture__icon"></i>
              </div>
              <div class="slds-form-element ">
                <div class="slds-form-element__control">
                  <div class="slds-file-selector slds-file-selector_files">
                    <div class="slds-file-selector__dropzone file-selector__dropzone_border-small">
                      <input
                        type="file"
                        class="slds-file-selector__input slds-assistive-text"
                        accept="image/*" id="plant-image-input"
                        (change)="handleFileUpload($event)"
                      />
                      <label class="slds-file-selector__body" for="plant-image-input" id="file-selector-secondary">
                        <span>
                          <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#upload"></use>
                          </svg>Upload Files
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="slds-form-element">
              <label class="slds-form-element__label" for="plant-name">
                <abbr class="slds-required" title="required">* </abbr>Name
              </label>
              <div class="slds-form-element__control">
                <input
                  id="plant-name"
                  [(ngModel)]="currentPlantData.name"
                  class="slds-input"
                  type="text"
                  placeholder="Name…"
                  required
                />
              </div>
            </div>

            <div class="slds-form-element">
              <label class="slds-form-element__label" for="plant-origin">
                <abbr class="slds-required" title="required">* </abbr>Origin
              </label>
              <div class="slds-form-element__control">
                <input
                  id="plant-origin"
                  [(ngModel)]="currentPlantData.origin"
                  class="slds-input"
                  type="text"
                  placeholder="Origin…"
                  required
                />
              </div>
            </div>

            <div class="slds-form-element">
              <label class="slds-form-element__label" for="plant-origin">
                <abbr class="slds-required" title="required">* </abbr>Plant type
              </label>
              <combobox
                [items]="plantsTypes"
                [inputId]="'plant-type'"
                [selectedOption]="currentPlantData.plantType"
                [isCreateNewItems]="true"
                (onOptionSelect)="handleOptionSelect($event)"
              ></combobox>
            </div>

            <div class="plant-care__container">
              <div class="plants-care__table plant-care__table-header">
                <div>Operation</div>
                <div>Frequency</div>
              </div>

              <div *ngIf="currentPlantData.plantCare">
                <div *ngFor="let operation of currentPlantData.plantCare.operations; last as isLast">
                  <div class="plant-care__table plants-care__table">
                    <div>
                      {{ operation.name }}
                    </div>
                    <div>
                      {{ operation.frequency }}
                    </div>
                    <div>
                      <div *ngIf="isLast">
                        <button class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border slds-m-right_xx-small" title="Add" (click)="handleAddCareOperation()">
                          <svg class="slds-button__icon" aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                          </svg>
                        </button>
                      </div>
                      <div>
                        <button class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border button_icon-danger" title="Remove" (click)="handleRemoveCareOperation(operation)">
                          <svg class="slds-button__icon " aria-hidden="true">
                            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#delete"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div *ngIf="isAddNewOperation">
                <div class="plants-care__table">
                  <div class="slds-form-element">
                    <div class="slds-form-element__control">
                      <input id="plant-care-name" type="text" class="slds-input" [(ngModel)]="newCareOperation.name" required/>
                    </div>
                  </div>
                  <div class="slds-form-element">
                    <div class="slds-form-element__control">
                      <input id="plant-care-frequency" type="number" max="100" min="0" class="slds-input" [(ngModel)]="newCareOperation.frequency"/>
                    </div>
                  </div>
                  <div>
                    <button class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border" title="Add" (click)="handleAddCareOperation()">
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                      </svg>
                    </button>
                  </div>
                  <div></div>
                </div>
              </div>
            </div>

            <div class="slds-form-element">
              <label class="slds-form-element__label" for="plant-description">
                <abbr class="slds-required" title="required">* </abbr>Description
              </label>
              <div class="slds-form-element__control">
                <textarea
                  id="plant-description"
                  [(ngModel)]="currentPlantData.description"
                  class="slds-textarea"
                  placeholder="Description…"
                  rows="10"
                  required
                ></textarea>
              </div>
            </div>

          </div>
          <div class="modal__content-container" *ngIf="plantModalState === 'View'">
            <div class="plant-picture plant-picture_large plant-picture_float">
              <img *ngIf="currentPlantData.imageUrl" [src]="currentPlantData.imageUrl">
              <i *ngIf="!currentPlantData.imageUrl" class="fa-regular fa-image"></i>
            </div>
            <div class="view__brief-description">
              <div class="view__name-controls">
                <span *ngIf="!isPlantNameEditing" class="view-description-text_header">
                  {{ currentPlantData.name }}
                </span>

                <ng-container *ngIf="user.userType === 'User' && pageState === 'User'">
                  <div *ngIf="!isPlantNameEditing">
                    <button
                      class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                      title="Edit Name"
                      (click)="handleEditPlantName(false)"
                    >
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#edit"></use>
                      </svg>
                    </button>
                  </div>

                  <div *ngIf="isPlantNameEditing" class="slds-form-element">
                    <div class="slds-form-element__control">
                      <input id="plant-care-frequency" type="text" class="slds-input" [(ngModel)]="currentPlantData.name"/>
                    </div>
                  </div>

                  <div *ngIf="isPlantNameEditing">
                    <button
                      class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                      title="Save"
                      (click)="handleEditPlantName(true)"
                    >
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"></use>
                      </svg>
                    </button>
                  </div>

                  <div>
                    <button
                      class="slds-button slds-button_icon slds-button_icon-border button_icon-small-border"
                      title="Create request"
                      (click)="handleCreateRequest(true, false)"
                    >
                      <svg class="slds-button__icon" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#note"></use>
                      </svg>
                    </button>
                  </div>

                  <div *ngIf="isRequestModalVisible" class="request-modal">
                    <div class="slds-form-element">
                      <label class="slds-form-element__label" for="plant-description">
                        <abbr class="slds-required" title="required">* </abbr>Description
                      </label>
                      <div class="slds-form-element__control">
                        <textarea
                          id="request-description"
                          [(ngModel)]="requestDescription"
                          class="slds-textarea"
                          placeholder="Description…"
                          rows="10"
                          required
                        ></textarea>
                      </div>
                    </div>
                    <div class="request-modal__footer">
                      <button class="slds-button slds-button_outline-brand" (click)="handleCreateRequest(false, false)">Cancel</button>
                      <button class="slds-button slds-button_brand" (click)="handleCreateRequest(true, true)" >Save</button>
                    </div>
                  </div>
                </ng-container>
              </div>
              <span class="view-description-text_header">
                {{ currentPlantData.origin }}
              </span>
            </div>
            <div class="view-description-text_large">
              {{ currentPlantData.description }}
            </div>
          </div>
        </div>
        <div *ngIf="plantModalState !== 'View'" class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" (click)="handlePlantWindow(false, 'View', '')">Cancel</button>
          <button class="slds-button slds-button_brand" (click)="handlePlant()">Save</button>
        </div>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
  </div>
  <div class="spinner__container" *ngIf="isLoading">
    <div role="status" class="slds-spinner slds-spinner_medium slds-spinner_brand">
      <span class="slds-assistive-text">Loading</span>
      <div class="slds-spinner__dot-a"></div>
      <div class="slds-spinner__dot-b"></div>
    </div>
  </div>
</div>